.container
    .jumbotron
        h1 adam.fr33man
        p You've got to ask yourself ... What would Dr Gordon Freeman do ?
        p
            a.btn.btn-primary.btn-lg(href="https://github.com/adamfr33man") Checkout my github